# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_Sites\_ERP-Interface3-v4-5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
